.NavigationPanel {
    width: 230px;
    flex-shrink: 0;
    position: relative;
    background-color: #E3E3E3;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
    height: calc(100vh - 50px);
    // position: fixed;
    // z-index: 1;
    // top: 0;
    // left: 0;

    .PanelButton:first-child {
        margin-top: 130px;
    }
    
    .PanelButton {
        margin-top:20px;
    }
    
    .PanelButton:last-child {
        position: absolute;
        bottom: 30px;
        left: calc(50% - 100px);
    }
    
}

