.comments{
    padding-top: 20px;
    margin: 0 auto;

    .commentsHeader{
        margin: 0 auto;
        width: 990px;
        height: 110px;
        // width: 61.88rem;
        // height: 6.81rem;
    }
}

