.since {
  // width: 14.06rem;
  // height: 2.5rem;
  width: 225px;
  height: 40px;
  // line-height: 40px;
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.02em;
  white-space:pre;

  .markWrapper {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    .mark {
      width: 30px;
      height: 30px;
      display: block;
      // margin-bottom: 5px;
    }
  }

  .text {
    margin-left: 10px;
    height: 2.5rem;
    vertical-align: top;
    line-height: 2.5rem;
    display: inline-block;
    // margin-right: 0.2em
  }

  .date {
    height: 2.5rem;
    vertical-align: top;
    line-height: 2.5rem;
    display: inline-block;
  }
}