.answers{
    padding-top: 20px;
    padding-right: 45px;
    max-height: calc(100vh - 50px); 
    overflow-y: auto;

    .answersHeader{
        width: 950px;
        min-height: 80px;
        // width: 61.88rem;
        // height: 6.81rem;
    }
}

