.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #E3E3E3;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
}   

.Logo{
    margin-left: 12px;
}

.QuestionButton{
    width: 200px;
    height: 40px;
}
.Username{
    display: block;
    /* height: 30px; */
    
    font-size: 24px;
    
}

.ProfilePhoto{
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    margin-left: 25px;
    margin-right: 5px;
    border-radius: 100%;
    background-color: #935D5D;
    box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.25);
}

