.votes{
    width: 40px;
    height: 120px;
    align-items: center;

    .sign{
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }
    .plus{
        width: 39px;
        height: 39px;
    }
    .rating{
        display: block;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
    }
}

@media (max-width: 480px){
    .votes{
        width: 70px;
        height: 30px;
        display: flex;
    
        .sign{
            width: 20px;
            height: 20px;
        }
        .plus{
            width: 20px;
            height: 20px;
        }
        .rating{
            width: 20px;
            height: 20px;
            font-size: 15px;
            line-height: 20px;
            padding-left: 0px;
        }
    }
}