.votes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;


  .sign {
    display: block;
    margin: 0 auto;
  }

  // .plus {
  //   width: 39px;
  //   height: 39px;
  // }

  .rating {
    display: block;
    text-align: center;
  }
}


@media (min-width: 811px) {
  .votes {
    flex-direction: column;
    $size: 40px;
    width: $size;
    height: calc($size * 3);
    align-items: center;


    .sign {
      display: block;
      width: $size;
      height: $size;
      margin: 0 auto;
    }

    // .plus {
    //   width: 39px;
    //   height: 39px;
    // }

    .rating {
      width: 40px;
      height: 40px;
      font-size: 24px;
      line-height: calc(40px);
    }
  }
}

@media (max-width: 810px) {
  .votes {
    width: 100px;
    height: 20px;
    justify-content: space-between;
    flex-direction: row;

    .sign {
      width: 20px;
      height: 20px;
    }

    .plus {
      width: 20px;
      height: 20px;
    }

    .rating {
      width: 20px !important;
      flex-grow: 0;
      height: 20px;
      font-size: 15px;
      line-height: 20px;
      margin: 0 auto;
    }
  }
}