.tag {
  width: 300px;
  height: 200px;
  padding: 20px;
  color: #545F71;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #545F71;
  cursor: pointer;

  .header {
    font-size: 32px;
  }

  .description {
    margin-top: 10px;
    font-size: 16px;

  }
}