.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 2;
  background-color: #E3E3E3;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);

  .logo {
    margin-left: 12px;
  }

  .questionButton {
    margin-left: 40%;
  }

  .signInButton {
    width: 100px;
    margin-right: 25px;
  }

  .user{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    .username {
      display: block;
      font-size: 24px;
      cursor: pointer;
    }
  
    .profilePhoto {
      display: block;
      width: 40px;
      height: 40px;
      /* border-radius: 50%; */
      margin-left: 25px;
      margin-right: 5px;
      border-radius: 100%;
      background-color: #935D5D;
      box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }

  }
}

/* Desktop styles */
 @media (min-width: 481px) {
  .menu{
    display: none;
  }

}

/* Mobile styles */
@media (max-width: 480px) {

  .header{
    .menu{
      display: block;
    }

    .questionButton {
     margin-left: 25%;
     //width: 60%;
     line-height: 1.1;
     font-size: 16px;
    }

    .user{
      margin-left: 30px;
  
      .profilePhoto {
      margin-left: 5px;
     }

    }
  }
}