.question {
  position: relative;
  width: 60.94rem;
  //width: 100%;
  height: 13.88rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  //padding: 5%;
  border-bottom: 1px solid #545F71;

  
  .questionTitle {
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 20px;
    width: 735px;
    font-size: 24px;
    
    cursor: pointer;
  }

  .tags {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.02em;
    color: #545f71;
    position: absolute;
    bottom: 10px;
    left: 25px;
    
    .tag {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

@media (max-width: 480px){
  .question {

     width: 100%;
     height: auto;

    .questionInfo{
      order: 1;
    }
    .questionTitle {
      order: 3;

      padding-bottom: 30px;
      padding-top: 5px;
      padding-left: 5px;
      width: 99%;
      height: auto;
      font-size: 20px;
      line-height: 1;
    }
  
    .votes{
      padding-top: 10px;
      order: 2;
    }
     .tags {

      order: 4;
      font-size: 15px;
      left: 5px; 
    }
  }
}