.question {
  position: relative;
  width: 100%;
  height: 13.88rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  border-bottom: 1px solid #545F71;

  .questionInfo {
    width: 15%;
  }

  .questionTitle {
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 20px;
    width: 77%;
    font-size: 24px;
    cursor: pointer;
  }

  .tags {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.02em;
    color: #545f71;
    bottom: 10px;
    left: 25px;

    .tag {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

@media (min-width: 811px) {
  .question {
    .questionTitle {
      order: 2;
      padding-top: 15px;
      padding-bottom: 30px;
      padding-left: 5px;
      width: 100%;
      height: auto;
      font-size: 20px;
      line-height: 1.2;
    }

    .votes {
      padding-top: 10px;
      width: 60px;
    }

    .tags {
      width: 100%;
      order: 3;
      font-size: 15px;
    }
  }
}


@media (max-width: 810px) {
  .question {
    width: 100%;
    height: auto;

    .questionInfo {
      width: 100%;
      order: 5;
    }

    .questionTitle {
      order: 2;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      width: 100%;
      height: auto;
      font-size: 20px;
      line-height: 1.2;
    }

    .votes {
      padding-top: 10px;
      width: 60px;
    }

    .tags {
      width: 100%;
      order: 3;
      font-size: 15px;
    }
  }
}