.AutorizationPage {
  width: 80%;
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 25px;
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);

  .header {
    text-align: left;
    width: 100%;
    height: 50px;
    font-size: 32px;
    border-bottom: 1px solid #545f71;
  }

  .registrationForm {
    margin: 0 auto;
    margin-top: 15px;
  }

  .loginForm {
    margin: 0 auto;
    margin-top: 15px;
  }
}


@media (max-width: 1024px) {
  .AutorizationPage {
    width: 100%;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;

    .header {
      width: 100%;
      padding-left: 25px;
      font-size: 28px;
    }

    .registrationForm {
      width: 90%;
    }

    .loginForm {
      width: 90%;
    }
  }
}

@media (max-width: 480px) {
  .AutorizationPage {
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    padding-right: 5px;
    padding-left: 5px;

    .header {
      width: 100%;
      padding-left: 15px;
      height: 47px;
    }

    .loginForm {
      margin-top: 50px;
      width: 90%;
      max-width: 300px;
    }

    .registrationForm {
      margin-top: 50px;
    }
  }

}