.AutorizationPage {

  padding-top: 15px;
  padding-right: 45px;

  .header {
    text-align: left;
    width: 950px;
    height: 50px;
    font-size: 32px;
    border-bottom: 1px solid #545f71;
  }

  .registrationForm {
    margin: 0 auto;
    margin-top: 15px;
  }

  .loginForm {
    margin: 0 auto;
    margin-top: 15px;
  }
}


@media (max-width: 1024px) {
  .AutorizationPage {
    width: 100%;
    font-size: 12px;


    .header {
      width: 100%;
      // margin-left: 15px;
      padding-left: 25px;
      font-size: 28px;
    }

    .registrationForm {
      width: 90%;
    }
    .loginForm{
      width: 90%;
    }
  }
}

@media (max-width: 480px) {
  .AutorizationPage {
    width: 100%;
    height: 100vh;
    //font-size: 12px;
    margin-left: 0px;
    // padding-top: 15px;
    padding-right: 5px;
    // text-align: left;
    // height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    // max-height: calc(100vh - 50px);
    // overflow-y: auto;

    .header {
      width: 100%;
      padding-left: 15px;
      height: 47px;
    }

    .loginForm {
      margin-top: 50px;
    }

    .registrationForm {
      margin-top: 50px;
    }
  }

}