.AutorizationPage {

  padding-top: 15px;
  padding-right: 45px;


  .header {
    text-align: left;
    width: 950px;
    height: 50px;
    font-size: 32px;
    border-bottom: 1px solid #545f71;
  }

  .RegistrationForm {
    margin: 0 auto;
    margin-top: 15px;
  }

  .LoginForm {
    margin: 0 auto;
    margin-top: 15px;
  }
}