.selector {
  display: flex;
  justify-content: space-around;
  width: 120px;

  .icon {
    width: 30px;
    height: 30px;
    background: url(./language.svg);
  }

  .text {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #545f71;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: default;
  }
  .lang{
    cursor: pointer;
  }
  .active{
    color: #3A7BD5;
  }

}