.comment{
    width: 990px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #545f71;
    .commentText{
        width: 935px;
        text-align: left;
        margin-left: 15px;
    }

}