.answerFooter {
  width: 100%;
  margin-top: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;

  .user {
    height: 29px;

    $userPhotoSize : 29px;

    .userPhoto {
      width: $userPhotoSize;
      height: $userPhotoSize;
      display: inline-block;
      border-radius: 50%;
      background-color: #935d5d;

      box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.25);

      .letter {
        font-size: calc($userPhotoSize - 5px);
        color: #e3e3e3;
        line-height: $userPhotoSize;
        height: 100%;
        width: 100%;
      }
    }

    .username {
      display: inline-block;
      margin-left: 9px;
    }
  }

  p,
  time {
    height: 29px;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #545f71;
    vertical-align: top;
  }

  .answerDate {
    display: block;
  }
}