.answerFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .user {
    --photoSize: 29px;
    height: 29px;
    cursor: pointer;

    .userPhoto {
      display: inline-block;
      border-radius: 50%;
      box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.25);
    }

    .username {
      display: inline-block;
      margin-left: 9px;
    }
  }

  p,
  time {
    height: 29px;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #545f71;
    vertical-align: top;
  }

  .answerDate {
    display: block;
  }
}