.element{
  width: 7.5rem;
  height: 2.5rem;
  p{
  font-weight: 400;
  font-size: 20px;
  // font-size: 1.25rem;
  text-align: center;
  // line-height: 95%;
  line-height: 19px;
  letter-spacing: -0.02em;}
  
}