.PasswordInput {
  width: 18.75rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.375rem;
  color: #545F71;
  border: 1px solid #545f71;
  background: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.02rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Field {
  font-size: 1rem;
  font-weight: 400;

  border: none;
  display: inline-block;
  outline: none;
}

.Eye {
  width: 1.1875rem;
  height: 0.875rem;
  display: block;
}