.answer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #545f71;

  .answerText {
    width: 90%;
    text-align: left;
    margin-left: 15px;
  }

  .votes {
    width: 4%;
  }

  .answerFooter {
    margin-top: 5px;
  }
}

@media (max-width: 810px) {

  .answer {
    width: 100%;
    height: auto;

    .answerFooter {
      width: 100%;
      margin-left: 0;
    }

    .answerText {
      width: 100%;
      margin-left: 0px;
      margin-top: 5px;
      font-size: 18px;
    }

    .votes {
      width: 60px;
    }
  }
}