.top {
  text-align: left;

  .header {
    margin-bottom: 10px;
  }

  .tags {
    min-height: 2.5rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    border: 1px solid #545f71;

    .tag {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

@media (max-width: 810px) {
  .top {
    font-size: 16px;

    .header {
      margin-bottom: 5px;
    }
  }
}