.PostsList {
    padding-top: 15px;
    padding-right: 45px;
    text-align: left;
    height: calc(100vh - 50px);

    .Header {
        height: 50px;
        font-size: 32px;
        border-bottom: 1px solid #545f71;
    }
}