.AddQuestion {
  width: 75%;
  height: calc(100vh - 50px);
  label {
    width: 700px;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 7px;
    margin-bottom: 7px;
    margin-top: 15px;
  }

  label:nth-child(1){
    margin-top: 20px;
  }

  Input,
  textarea {
    margin: 0 auto;
    display: block;
    padding: 12px;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }

  input:focus {
    outline: none;

  }

  .form{
    width: 70%;
    margin: 0 auto;
  }
  .header {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .questionHeader {
    width: 100%;
    margin: 0 auto;
  }

  .questionDescription {
    // height: 165px;
    height: 12.75rem;
    width: 100%;
    padding: 12px;
    text-align: left;
    vertical-align: text-top;
    font-size: 16px;
    line-height: -2%;
    border-radius: 4px;
    border: 1px solid #545f71;
    box-sizing: border-box;
    resize: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .questionTags{
    // width: 700px;
    width: 100%;
    margin: 0 auto;
  }
  .button{
    width: 100%;
    max-width: 200px;
    margin-top: 40px;
  }
}


@media (max-width: 1024px) {
  .AddQuestion{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header{
    font-size: 32px;
  }
}
