.NavigationPanel {
  width: 230px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  background-color: #E3E3E3;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  height: calc(100vh - 50px);
  z-index: 100;
  transition: 0.5s;

  .PanelButton {
    /* width: 18.75rem;
    height: 2.5rem; */
    width: 200px;
    height: 40px;
    display: block;
    border-radius: 0.375rem;
    border: 1px solid #545F71;
    background: #545F71;
    margin: 0 auto;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }

  .languageSelector {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .PanelButton {
    margin-top: 20px;
  }

  .PanelButton:hover {

    background-color: #323436;

  }

  .active {
    background: #323436;
  }
}

@media (max-width: 1024px) {
  .NavigationPanel {
    position: absolute;
    top: 50px;
    left: -150%;

    &.visible {
      display: block;
      left: 0;
    }
  }

}