.user {
  display: flex;
  text-align: left;

  .photo {
    border-radius: 50%;
    background-color: #935d5d;
    text-align: center;
    background-size: contain;
    background-position: center;

    .letter {
      color: #e3e3e3;
      height: 100%;
      width: 100%;
    }
  }

  .info {
    font-size: 1rem;
    font-weight: 400;

    .description {
      margin-top: 10px;
    }
  }
}

@media (min-width: 811px) {
  .user {
    height: 155px;
  }

  $photoSize: 155px;

  .photo {
    width: $photoSize;
    height: $photoSize;

    .letter {
      font-size: calc($photoSize - 10px);
      line-height: $photoSize;
    }
  }

  .info {
    width: 250px;
    margin-left: 45px;

    .username {
      font-size: 32px;
    }
  }
}

@media (max-width: 810px) {
  $photoSize: 100px;

  .photo {
    width: $photoSize;
    height: $photoSize;

    .letter {
      font-size: calc($photoSize - 10px);
      line-height: $photoSize;
    }
  }

  .info {
    width: 200px;
    margin-left: 30px;

    .username {
      font-size: 24px;
    }

    .description {
      font-size: 12px;
    }
  }
}

@media (max-width: 654px) {
  .user {
    width: 100%;
  }

  $photoSize: 70px;

  .photo {
    width: $photoSize;
    height: $photoSize;

    .letter {
      font-size: calc($photoSize - 10px);
      line-height: $photoSize;
    }
  }
}

@media (max-width: 299px) {
  .user {
    width: 100%;
    $photoSize: 50px;

    .photo {
      width: $photoSize;
      height: $photoSize;

      .letter {
        font-size: calc($photoSize - 10px);
        line-height: $photoSize;
      }
    }
  }
}