.user {
  width: 600px;
  height: 155px;
  display: flex;
  justify-content: space-between;
  text-align: left;

  $photoSize: 155px;
  .photo {
    
    width: $photoSize;
    height: $photoSize;
    border-radius: 50%;
    background-color: #935d5d;
    text-align: center;
    .letter{
      font-size: calc($photoSize - 10px);
      color: #e3e3e3;
      line-height: $photoSize;
      height: 100%;
      width: 100%;
    }
  }

  .info {
    width: 395px;
    font-size: 1rem;
    font-weight: 400;

    .username {
      font-size: 2rem;
    }

    .description {
      margin-top: 10px;
    }
  }

}