.app {
  position: relative;
  text-align: center;
  width: 1280px;
  margin: 0 auto;
  box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.25);

  .content {
    padding-top: 50px;
    height: 100%;
    display: flex;

    justify-content: space-between;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-weight: 700; */
  /* font-size: 24px; */
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #545f71;
}

body {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #545f71;
  background: #e3e3e3;
}