.App {
  text-align: center;
  background-color: red;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  /* font-size: 24px; */
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #545f71;
}
body{
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #545f71;
}
