$padding: 15px;

.chat {
  width: 80%;
  position: relative;
  padding-top: $padding;
  padding-right: $padding;
  padding-left: $padding;
  text-align: left;
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow-y: scroll;

  .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #545f71;

    .headerStatus {
      height: 50px;
      line-height: 50px;
      font-size: 20px;
    }
  }

  .messagesList {
    .message {
      width: 100%;
    }

    max-height: calc(100vh - 185px);
    overflow-y: scroll;
  }

  .messageForm {
    width: 100%;
    z-index: 10;
    height: 50px;
    margin-top: 10px;
  }
}

@media (max-width: 1024px) and (min-width: 361px) {
  .headerText {
    font-size: 32px;
  }

  .chat {
    width: 100%;

    .message {
      width: 100%;
    }

    .messageForm {
      width: 100%;
    }
  }
}

@media (max-width: 480px) and (min-width: 360px) {
  .headerText {
    font-size: 25px;
  }
}

@media (max-width: 359px) {
  .headerText {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  $sidePadding : 2px;

  .chat {
    width: 100%;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: $sidePadding;
    padding-right: $sidePadding;

    .header {
      align-content: center;
      width: 100%;
      height: 50px;
      padding-left: 10px;

      .headerText {
        // font-size: 25px;
        height: 20px;
        line-height: 50px;
      }

      .headerStatus {
        display: flex;
        align-items: center;
        width: 100px;
        line-height: 15px;
        font-size: 15px;
      }
    }

    .messagesList {
      .message {
        min-width: 100%;
        font-size: 16px;
        white-space: normal;
      }
    }

    .messageForm {
      width: calc(100% - $sidePadding);
      height: 40px;
    }
  }
}