.tagsList {
    display: block;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;

    .header{
        width: 975px;
        height: 50px;
        margin: 0 auto;
    }

    .tags{
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        width: 975px;
        .tag{
            margin-top: 30px;
            margin-top: 30px;
        }
    }
}


