.votes{
    width: 40px;
    height: 120px;
    align-items: center;

    .sign{
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }
    .plus{
        width: 39px;
        height: 39px;
    }
    .votesCount{
        display: block;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        // margin: auto 0;
        // vertical-align: middle;
        
    }
}