.form {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -2%;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    text-align: left;
    padding-bottom: 30px;

    .formHeader {
        font-size: 16px;
        padding-left: 7px;
        margin-bottom: 7px;
    }

    .formInput {
        width: 100%;
        height: 165px;
        // padding: 12px;
        text-align: left;
        vertical-align: text-top;
        font-size: inherit;
        line-height: inherit;
        border-top: 1px solid #545F71;
        border-left: 1px solid #545F71;
        border-right: 1px solid #545F71;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        resize: none;

        .formInput:focus {
            outline: none;
        }
    }

    .formButton {
        width: 100%;
        border-radius: 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}


@media (min-width: 811px) {
    .formInput {
        padding: 12px;
    }
}

@media (max-width: 810px) {
    .formInput {
        padding: 5px;
    }
}