.QuestionInfo {
  width: 150px;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #545f71;
  text-align: center;

  $userPhotoSize: 70px; 
  .UserPhoto {
    width: $userPhotoSize;
    height: $userPhotoSize;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 100%;
    background-color: #935D5D;
    box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    .letter{
      font-size: calc($userPhotoSize - 10px);
      font-weight: 600;
      color: #e3e3e3;
      line-height: $userPhotoSize;
      height: $userPhotoSize;
      width: $userPhotoSize;
    }
  }

  .UserName {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px){
  .QuestionInfo {
    width: 40%;
    //padding: 15px;
    font-size: 15px;
    //padding-left: 0px;
    display: flex;
    //flex-direction: row;
   // height: 80px;
  
   $userPhotoSize: 30px; 
    .UserPhoto {
      display: flex;
      position: relative;
      overflow: visible;
      padding-top: 30px;
      padding-left: 30px;
      margin-right: 0px;
      width: $userPhotoSize;
      height: $userPhotoSize;
      .letter{

        left: 0;
        top: 0;
        font-size: calc($userPhotoSize - 10px);
        position: absolute;
        font-weight: 600;
        color: #e3e3e3;
        line-height: $userPhotoSize;
        height: $userPhotoSize;
        width: $userPhotoSize;
      }
    }
    .UserName {
      padding: 10px;
      font-size: 15px;
      
    }
    .QuestionDate{
      padding: 10px;
      white-space: nowrap;
      //padding-left: 50px;
      //text-align: right;
    }
  }
}