.questionInfo {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #545f71;
  text-align: center;

  .user {
    cursor: pointer;
    --photoSize: 70px;

    .userPhoto {
      margin: 0 auto;
      margin-top: 10px;
      border-radius: 50%;
      box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.25);
    }

    .userName {
      max-width: 100%;
      text-wrap: wrap;
      font-weight: 700;
      margin-top: 5px;
      font-size: 20px;
    }
  }
}

@media (max-width: 810px) {

  .user {
    display: flex;
  }

  .questionInfo {
    display: flex;
    width: 40%;
    font-size: 15px;
    justify-content: space-between;
    flex-wrap: wrap;

    $userPhotoSize: 30px;

    .userPhoto {
      display: flex;
      position: relative;
      overflow: visible;
      padding-top: 30px;
      padding-left: 30px;
      margin-right: 0px;
      width: $userPhotoSize;
      height: $userPhotoSize;

      .letter {

        height: $userPhotoSize;
        width: $userPhotoSize;
        left: 0;
        top: 0;
        font-size: calc($userPhotoSize - 10px);
        position: absolute;
        font-weight: 600;
        color: #e3e3e3;
        line-height: $userPhotoSize;
      }
    }

    .userName {
      margin-left: 10px;
      line-height: 30px;
      font-size: 15px;

    }

    .questionDate {
      padding: 10px;
      white-space: nowrap;
    }
  }
}