.PostInfo{
    width: 150px;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: #545f71;
    text-align: center;

    .UserPhoto{
        width: 70px;
        height: 70px;
        margin: 0 auto;
        margin-top: 5px;
        border-radius: 100%;
        background-color: #935D5D;
        box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.25);
    }
    .UserName{
        font-weight: 700;
        font-size: 1.5rem;
    }

}