.tagsList {
  width: 82%;
  display: block;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;

  .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 32px;
    border-bottom: 1px solid #545f71;

    .title {
      font-size: 32px;
      display: inline-block;
    }

    .search {
      font-weight: 700;
      font-size: 24px;
      width: 63%;
      height: 40px;
    }

    input {
      border: none;
    }
  }

  .tags {
    padding-top: 30px;
    height: calc(100vh - 50px - 50px - 15px);
    max-height: calc(100vh - 50px - 50px - 15px);
    overflow-y: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .tag {
    margin-bottom: 30px;
  }
}


@media (max-width: 1024px) {
  .tagsList {
    padding-left: 15px;
    // padding-top: 10px;
    padding-right: 15px;
    width: 100%;
    font-size: 12px;
    margin-left: 0px;

    .header {
      font-size: 28px;
    }

    .tags {
      padding-top: 10px;
    }

    .tag {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 630px) {
  .tagsList {
    width: 100%;
    font-size: 12px;
    margin-left: 0px;
    padding-right: 5px;
    height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    // max-height: calc(100vh - 50px);
    // overflow-y: auto;

    .header {
      width: 100%;
      padding-left: 5px;
      height: 47px;
    }

    .title {
      font-size: 30px;
    }

    .question {
      width: 99%;
    }

    .search {
      font-size: 22px;
      width: 30%;
      height: 35px;
    }

    input {
      border: none;
    }
  }

}