.tagsList {
    display: block;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;


    .header{
        width: 950px;
        height: 50px;
        margin: 0 auto;
    }

    .tags{
        height: calc(100vh - 50px - 50px - 15px);
        max-height: calc(100vh - 50px - 50px - 15px); 
        overflow-y: auto;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        // width: 975px;
        .tag{
            margin-top: 30px;
            margin-top: 30px;
        }
    }
}


