.tag {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #545F71;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e3e3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    h2 {
      font-size: 18px;
      margin: 0 0 10px 0;
    }
    p {
      font-size: 14px;
      color: #666;
    }
  }