.editProfile {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalContent {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    position: relative;

    .modalActions {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .saveButton {
      background-color: #4caf50;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #45a049;
      }
    }

    .cancelButton {
      background-color: #f44336;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #e53935;
      }
    }

    .header {
      margin-top: 0;
      font-size: 24px;
    }

    .label {
      display: block;
      margin-top: 15px;
      font-size: 16px;
      text-align: left;
    }

    .input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      // color: red;
      border-radius: 4px;
      font-size: 1rem;
    }

    .textarea {
      height: 100px;
      text-align: left;
      vertical-align: text-top;
      box-sizing: border-box;
      resize: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }




}