.questionsList {
  padding-top: 15px;
  padding-right: 45px;
  text-align: left;
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow-y: auto;

  .header {
    display: flex;
    justify-content: space-between;
    width: 950px;
    height: 50px;
    border-bottom: 1px solid #545f71;
  }

  .title {
    font-size: 32px;
  }

  .question {
    width: 950px;
  }

  .search {
    font-weight: 700;
    font-size: 24px;
    width: 650px;
    height: 40px;
  }

  input {
    border: none;
  }
}

@media (max-width: 1024px) {
  .questionsList {
    font-size: 12px;
    margin-left: 0px;

    .header {
      width: 90%;
      font-size: 28px;
    }

    .question {
      width: 90%;
    }
  }


}