.tagsList {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}


.tagsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
    width: 100%;
}
