.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search h1 {
    font-size: 24px;
    text-align: left;
    margin: 0;
  }
  
  .search input {
    width: 50%;
    align-items: center;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  