.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.375rem;
  color: #545F71;
  border: 1px solid #545f71;
  background: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.02rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  input:focus {
    outline: none;
  }

  overflow: hidden;

  .field {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    width: calc(100% - 1.1875rem);
    height: 100%;
  }

  .button {
    width: 1.1875rem;
    height: 1.1875rem;
    display: inline-block;
    cursor: pointer;

    &.hide {
      display: none;
    }
  }
}