.LoginForm {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.625rem;

  .label{
    width: 100%;
    line-height: 14px;
    text-align: left;
    font-size: 14px;
    color: red;
  }
  .Input {
    width: 100%;
  }

  .Button {
    width: 100%;
  }

  .LoginLable {
    width: 100%;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  }

  .RegistrationButton {
    height: 1.12rem;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 122%;
    letter-spacing: -0.02em;
    color: #545f71;
    -webkit-text-stroke: 0.25px #ffffff;
    background: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
  }
}