.LoginForm {
    width: 18.75rem;
    /* height: 8.75rem; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.625rem;
}