.top {
  margin-top: 32px;
  text-align: left;

  .header {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .header:hover {
    text-decoration: underline;
  }

  .questions {
    // min-height: 122px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    border: 1px solid #545f71;

    .question {
      vertical-align: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 810px) {
  .top {
    font-size: 16px;

    .header {
      margin-bottom: 5px;
    }
  }
}