.form {
  height: 50px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
  display: flex;
  font-weight: normal;
  text-align: left;
  padding-bottom: 30px;
  border-radius: 4px;
  border: 1px solid #545F71;
  background: #ffffff;
  overflow: hidden;


  .formInput {
    width: 94%;
    height: 50px;
    padding: 12px;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    outline: none;
    resize: none;
  }

  .formInput:focus {
    outline: none;

  }

  .formButton {
    background: url(icons/sendButton.svg);
    background-position: center;
    border: none;
    cursor: pointer;
    outline: none;
    width: 6%;
    height: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

// DO NOT CHANGE this media! THIS FIX ONLY SEND_MESSAGE_BUTTON!!! 
@media (max-width: 800px) {
  .form {
    width: 100%;

    .formInput {
      width: 85%;
    }

    .formButton {
      width: 15%;
    }
  }
}

@media (max-width: 480px) {
  .form {
    width: 100%;
    height: 40px;

    .formInput {
      width: 85%;
      height: 40px;
      font-size: 18px;
      line-height: 40px;
    }

    .formButton {
      width: 15%;
      height: 40px;
    }
  }
}