.form {
  width: 950px;
  height: 50px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;
  display: flex;
  font-weight: normal;
  text-align: left;
  padding-bottom: 30px;
  border-radius: 4px;
  border: 1px solid #545F71;
  background: #ffffff;
  overflow: hidden;


  .formInput {
    width: 890px;
    height: 50px;
    padding: 12px;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    outline: none;
    resize:none;
  }
  .formInput:focus {
    outline: none;

  }
  
  .formButton {
    background: url(icons/sendButton.svg);
    border: none;
    cursor: pointer;
    outline: none;
    width: 65px;
    height: 50px;
    // border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}